<div class="container">
<h1  >{{title}}</h1>
<input  type="text" #newTodo  placeholder="write the name of the task"/>
<input  type="number" #newtodoP placeholder="write the priorty" />
<button (click)="addTodo(newTodo.value , newtodoP.value); 
newTodo.value=' '; newtodoP.value=' ';"> ADD NEW </button>
</div>
<table class="container">
  <tr>
  <th>Label</th>
  <th>Priority</th>
  <th>Done</th>
  <th>Actions</th>
  </tr>
  <tr *ngFor="let todo of todos">
    <td>{{todo.label}}</td>
    <td>{{todo.Priority}}</td>
    <td>{{todo.Done ? '&#10004;': '&times;'}}</td>
    <td>
      <button (click)="deleteTodo(todo)">
        Delete this 
      </button>
    </td>
  </tr>
</table>

<router-outlet></router-outlet>